.idea/
LICENSE
README.md
build-pp/
build/
test.py
venv/
dist/
src/finpredict.egg*
src/finpredict/__pycache__/
.vscode/
run.py
__pycache__
lib-venv
dev_script.py
dev/
*.csv
.coverage
load_ts.py
monday.py
phase.py